%h1 Your Polls

.dashboard-wrapper.row
  .user-polls.span6
    %h1 Your Polls
    %table.table.striped
      - current_user.polls.each do |poll| 
        %tr#poll.id
          %td
            / Need to add (poll) as it needs the ID to match to the route.
            =link_to "#{poll.title} #{poll.id}", poll_path(poll)
          %td
            =link_to "Edit", edit_poll_path(poll)
          %td
            - if poll.is_live
              = link_to "Stop"
              / , post, :method=>:toggle_live, :remote=>true, :class => 'btn btn-danger stop-poll'
            - else  
              = link_to "Start", polls_toggle_live_path(poll.id), :method => :put, :remote => true,  :class=> 'btn btn-success btn-small start-poll'
              / = form_for(poll.id), :remote => true, polls_toggle_live_path, do |f|
              /   f.submit




  .create-polls.span6
    = link_to "Create Poll", new_poll_path, :class => 'btn btn-success'


/ <%= link_to 'Vote', post, :method => :add_point, :remote=>true %>
    