
/ For AJAX, setting div class to poll.id
%div{:id => 'ajaxurl', :class => @poll.id}
  :javascript
    pollServer();

.survey-data.span12 
  %ul.poll-data
    %li#question-title
      / .text-to
      %h1= "#{@question.title}"
    %li
      / .poll-question
      %%h3 Text Answer to 347-321-7539

.poll-data-render.span12
  / Found in root view. 
  .graph.span7
    %script 
      = render 'survey_graph.js'
  .total-vote.count.span4
    .total-votes




%table.table.striped.table-hover
  - @answers.each do |answer|
    %tr
      %td= answer.title
      %td= "TEXT #{answer.id} to Vote"
%br


.graph.span6
  / Found in root view.  
  %script 
    = render 'survey_graph.js'

.nav-links.span12 
  =link_to "Dashboard", root_path, :class => 'btn btn-inverse'
  =link_to "Edit", edit_poll_path(@poll), :class => 'btn btn-inverse'